{% extends "layout.html" %}

{% block title %}
    Social-Working
{% endblock %}

{% block main %}
    
        <div class="container hero col-sm-12" >
            <div class="row">                
                <div class="col-sm-8">                     
                    <h1>The &quot;Social-Work&quot; Revolution</h1>
                    <p>Create a work-life balance. Choose to work in a location and with people that inspire you!</p>
                    <!-- <button class="btn btn-light btn-lg action-button" type="button">Learn More</button> -->
                </div>    
            </div>  
        </div>     
{% endblock %}
