{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

{% block main %}

<h1 class="mb-5 text-center">Update Password</h1>

<form action="/password_update" method="post">
    {{ form.csrf_token() }}
  <div class="form-group">    
    {{ form.password.label(class="col-form-label col-md-2 text-left" ) }}     
    {{ form.password(class="form-control ml-2")}}     
  </div>
  <div class="form-group">    
    {{ form.confirm_password.label(class="col-form-label col-md-2 text-left") }}  
   
    {% if form.confirm_password.errors %} 
        {{form.confirm_password(class="form-control is-invalid ml-2")}}
            {% for error in form.confirm_password.errors %}               
                  <small class="invalid-feedback">{{error}}</small>            
            {% endfor %}
    {% else %}
      {{form.confirm_password(class="form-control ml-2")}}
    {% endif %}    
  </div>
  <div class="form-group">     
      {{form.submit(class="btn btn-primary ")}}     
  </div>
   
</form>


 
{% endblock %}